body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    width: 800px;
    height: fit-content;
    text-align: center;
}

nav {
    font-size: larger;
    text-align: left;
    padding: 1%;
    margin: 5px 0px 5px 15px;
    font-weight: bolder;
    background-color: black;
    width: 800px;
    color: white;
}

.flex {
    display: flex;
    gap: 5%;
}

.profile { 
    height: fit-content;
    padding: 30px;
    border: .5px solid black;
    box-shadow: 2px 2px 5px;
}

.grid { 
    display: grid;
    grid-template-rows: 200px;
    grid-gap: 10px;
}

.grid-item-1 {
    background-color: aquamarine;
    box-shadow: 2px 2px 5px;
    grid-row-start: 1;
    grid-row-end: 2;
    border: .5px solid black;
}

.grid-item-2 {
    background-color: aquamarine;
    box-shadow: 2px 2px 5px;
    grid-row-start: 3;
    grid-row-end: 4;
    border: .5px solid black;
}

.grid-item-3 {
    background-color: aquamarine;
    box-shadow: 2px 2px 5px;
    grid-row-start: 5;
    grid-row-end: 6;
    border: .5px solid black;
}